{% extends 'base.html' %}


{% block content %}

<table>
    <form action="{% if action == 'update' %}
                {% url 'user:update' user.id %}
                {% else %}
                 {% url 'user:create' %}
                 {% endif %}" 
      method="POST" enctype= "multipart/form-data"  >
    {% csrf_token %}
    {{user_form.as_p}}
    {{profile_form.as_p}}
    <input type="submit" class="btn btn-primary mb-2"  {% if action == 'update'  %}Actualizar{% else %}Crear{% endif %} ">
</form>
</table>

{% endblock content %}

